# Ignore dependencies and build output
node_modules/
dist/
build/

# Ignore environment variable files
.env
.env.local

# Ignore system and editor files
.DS_Store
.vscode/
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore IPython configuration files
profile_default/
ipython_config.py

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment variable files
.env

#Node.js/Three.js
node_modules/
.env
.DS_Store
*.log
dist/
build/
.vscode/